include ../../_bemto.jade

+b.header(ng-class="{static: currentState === 'app.pages.main'}") Шаблон для нового проекта настроен
  +e.social
    +e('a').fb(href="https://www.facebook.com?fref=ts" target="_blank")
    +e('a').yt(href="https://www.youtube.com" target="_blank")
    +e('a').ig(href="https://www.instagram.com" target="_blank")